mat-form-field{
    width: 766px;
}
mat-card{
    height: 507px;
    width: 800px;
    margin: auto;
    margin-top: 40px;
}
example-container {
    width: 900px;
    margin-left: 14px;
    padding: 2px 2px;
}
.sub-css{
   margin-left: 307px;
}
.bck-css{
    margin:5px;
    padding: 2px 2px;
}
