<p>api-call works!</p>

<!-- component load hua ki form load karna hai using ngOnInit -->
<div>
    <button (click)="back1()">back</button>
    <h2 class="heading-class">SignUp Screen(ReactiveForm)</h2>
    <form class="signUp-class" [formGroup]="signUpForm">

        <label>Name</label><br>
        <input type="text" formControlName="name"><br>

        <span
            *ngIf="!signUpForm.get('name')?.touched && !signUpForm.get('name')?.valid && !signUpForm.get('name')?.dirty">
            Hint : Enter your Name
        </span>
        <span class="err" *ngIf="signUpForm.get('name')?.errors?.['required'] 
                && signUpForm.get('name')?.touched
                && !signUpForm.get('name')?.valid">
            Name is Required
        </span>
        <span class='err' *ngIf="signUpForm.get('name')?.errors?.['pattern']">
            please Enter Alphabet Only
        </span>
        <span class="err"
            *ngIf="signUpForm.get('name')?.errors?.['minlength'] && !signUpForm.get('name')?.errors?.['pattern']">
            Enter Minimum 10 Characters
        </span>
        <span class="err" *ngIf="signUpForm.get('name')?.errors?.['whiteSpaceValidation'] && signUpForm.get('name')?.errors?.['pattern'] && signUpForm.get('name')?.errors?.['minlength']">
            Name Should Not Contain whitespaces
        </span><br>


        <label>Mobile No</label><br>
        <input type="text" formControlName="mobNo"><br>

        <span *ngIf="!signUpForm.get('mobNo')?.touched 
        && !signUpForm.get('mobNo')?.valid
        && !signUpForm.get('mobNo')?.dirty">
            Hint:Enter Your Mobile No
        </span>

        <span class="err" *ngIf="signUpForm.get('mobNo')?.errors?.['pattern'] && signUpForm.get('mobNo')?.touched">
            Mob No Should Be In Integer
        </span>
        <span class="err"
            *ngIf="signUpForm.get('mobNo')?.errors?.['minlength'] && !signUpForm.get('mobNo')?.errors?.['pattern']">
            Please Enter Minimum 10 Digit mobNo
        </span>
        <span class='err'
            *ngIf="signUpForm.get('mobNo')?.errors?.['maxlength'] && !signUpForm.get('mobNo')?.errors?.['pattern']">
            please Enter Maximum 10 Digit MobNo
        </span><br>

        <label>City</label><br>
        <input type="text" formControlName="city"><br>

        <span *ngIf="!signUpForm.get('city')?.touched
        && !signUpForm.get('city')?.valid
        && !signUpForm.get('city')?.dirty">
            Hint:Enter Your City
        </span>
        <span class="err" *ngIf="signUpForm.get('city')?.errors?.['pattern'] && signUpForm.get('city')?.touched">
            city contain Alphabets Only
        </span>
        <span class="err"
            *ngIf="signUpForm.get('city')?.errors?.['minlength'] && !signUpForm.get('city')?.errors?.['pattern']">Enter
            Minimum 3 alphabets</span><br>

        <label>Address</label><br>
        <input type="text" formControlName="address"><br>

        <span class="err"
            *ngIf="signUpForm.get('address')?.errors?.['pattern'] && signUpForm.get('address')?.touched">Enter correct
            Address</span><br>

        <label>Gender:</label><br>
        <input type="radio" formControlName="gender" value="male"> Male <br>
        <input type="radio" formControlName="gender" value="female">Female<br>

        <span class="err" *ngIf="signUpForm.get('gender')?.errors?.['required']">Gender is required</span><br>

        <button [disabled]="!signUpForm.valid" (click)="submit()">submit</button>
    </form>
</div><br><br>

<div>
   Enter Student Name Here :  <input type="text" [(ngModel)]="studentName" (blur)="inputBox()">
</div>
