.signUp-class{
    border: 1px solid black;
    height: 350px;
    width: 300px;
    background-color: yellowgreen;
    margin-left: 150px;
    margin-top: 39px;
    padding: 22px 30px;
}
.heading-class{
    margin-left: 203px;
    color:blue
}
.err{
    font-size: 15px;
    color:darkred;

}