.btn-css{
    position: relative;
    padding: 2px 2px;
    margin: 5px;
 }
.btn1{
    padding: 2px 2px;
    margin: 7px;
    margin-top: -2px;
}
.btn2{
    position: relative;
    top: 1px;
    margin-left: 6px;
}
.btn3{
    position: relative;
    top: 8px;
    margin-left: 6px;
}
.matcard{
    height: 352px;
    width: 607px;
    position: relative;
    top: 57px;
    margin: auto;
}
.fieldclass{
    width: 574px;
    padding: 5px 5px;
}
.btnclass{
    margin-left: 144px;
    position: relative;
    top: 15px;


}



