.heading {
    text-align: center;
    margin: auto;
    color: black;
}
.parent {
    background-color: antiquewhite;
    height: 699px;
    width: 100%;
}
.btn-css{
    text-align: center;
    background-color: aquamarine;
    border: none;
    margin-left: 8px;
    margin-top: 14px;
    font-size: 15px;
    
}

